# API URL
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# Contact Information
NEXT_PUBLIC_RESTAURANT_ADDRESS="Địa chỉ nhà hàng"
NEXT_PUBLIC_RESTAURANT_PHONE="Số điện thoại"
NEXT_PUBLIC_RESTAURANT_EMAIL="Email liên hệ"
